*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh; /*to item come in center */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #8d2525, rgba(7, 224, 76, 0.267));
}

.calculator{
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 25px rgba(113, 115, 119, 0.5);
    background-color: black;
}

input{
    width: 95%;
    border: none;
    padding: 30px;
    margin: 10px;
    border-radius: 9px;
    background: transparent;
    box-shadow: 1px 4px 10px #ffffff;
    font-size: 28px;
    text-align: right;
    cursor: pointer;
    background-color: #454545;
    color: #f0f8ff;
    
}

input::placeholder{
    color: #f0f8ff;
}
button{
    font-size: 25px;
    border: none;
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 30px;
    background: transparent;
    color: rgb(142, 21, 5);
    box-shadow: -0px 4px 15px #ffffff;
    background-color: rgb(90, 113, 73);
}

.equalBtn{
    background-color: rgb(41, 56, 56);
}
.operator{
    color: black;
}
.dot{
    font-size: 50px;
}
button:hover {
    background-color: #04f63c;
}
